.container3{
    height: 100px;
    width: 371px;
    background-color: rgb(43, 43, 43);
    color: white;
    box-sizing: content-box;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    left: 425px;
    top: 40px
}

.container_3{
    height: 220px;
    width: 100%;
    background-color: rgb(168, 168, 168);
}